[submodule "submodules/MtProtoKit"]
	path = submodules/MtProtoKit
	url = https://github.com/peter-iakovlev/MtProtoKit.git
	
[submodule "submodules/urbanairship"]
	path = submodules/urbanairship
	url = https://github.com/urbanairship/ios-library
[submodule "submodules/Harpy"]
	path = submodules/Harpy
	url = https://github.com/ArtSabintsev/Harpy
[submodule "submodules/AFNetworking"]
	path = submodules/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "submodules/HTMLReader"]
	path = submodules/HTMLReader
	url = https://github.com/nolanw/HTMLReader.git
[submodule "submodules/SSignalKit"]
	path = submodules/SSignalKit
	url = https://github.com/artman/Signals.git
