TELEGRAPH_SHARE_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).Share
TELEGRAPH_WATCHAPP_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).watchkitapp
TELEGRAPH_WATCHEXT_BUNDLE_ID=$(TELEGRAPH_WATCHAPP_BUNDLE_ID).watchkitextension
TELEGRAPH_WIDGET_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).Widget
TELEGRAPH_INTENTS_BUNDLE_ID=$(TELEGRAPH_BUNDLE_ID).SiriIntents
TELEGRAPH_VERSION=1.0
TELEGRAPH_BUILD=1806
TELEGRAPH_APPSTORE_ID=@1435011700

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TELEGRAM_APP_NAME='$(TELEGRAM_APP_NAME)' TELEGRAPH_APPSTORE_ID='$(TELEGRAPH_APPSTORE_ID)'
